#wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

header img {
	padding-top: 75px;
  padding-bottom: 75px;
	display: block;
	margin: auto;
}


section {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;

}

section p {
  float: right;
  font-family: "Montserrat";
  color: #a7a9ab;
  margin: 0 auto;
  width: 300px;
}

element.style {
  visibility: visible;
}

.dishes {
  padding-top: 100px;
}

.plate {
  z-index: -1;
  position: absolute;
}

.bread {
  z-index: 0;
   position: absolute;

}

.spread {
  z-index: 1;
  position: absolute;
}

.salmon {
  z-index: 2;
   position: absolute;
}

.dill {
  z-index: 3;
   position: absolute;
}