body {
  margin: 0 auto;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0 auto;
  font-family: 'permanent marker';
  font-size: 48px;
  color:#edba18;
}

nav {
  width: 100%;
  display: block;
  text-align: center;
}

nav li{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #a7a9ab;
}

nav ul {
  padding: 0px;
}

nav ul li {
  display: inline-block;
  padding: 0% 2%;
}


a:link {
  color:#edba18;
}

a:hover {
  color:#edba18;
  opacity: 0.8;
}


section {
  display: block;
  width: 900px;
  margin: 0 auto;

}

section .title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

section p {
  vertical-align: middle;
  float: right;
  font-family: "Lato";
  font-weight: 400;
  color: #a7a9ab;
  margin: 0 auto;
  width: 300px;
  line-height: 1.5;
}

element.style {
  visibility: visible;
}

.dishes {
  padding-top: 50px;
  width: 49%;
  float: left;
}

.plate {
  z-index: -1;
  position: absolute;
}

.bread {
  padding-top: 50px;
  z-index: 0;
  position: absolute;

}

.spread {
  padding-top: 50px;
  z-index: 1;
  position: absolute;
}

.salmon {
  padding-top: 50px;
  z-index: 2;
  position: absolute;
}

.dill {
  padding-top: 50px;
  z-index: 3;
  position: absolute;
}

.title {
  font-family: "Lato";
  color: #edba18;
  font-weight: 700;
  font-size: 14px;
  float: right;
  width: 49%;
}

.maintext {
  width: 49%;
  float: left;
}

.maintext p {
  margin-top: 20px;
}